html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

del,
ins {
  padding: 2px 4px;
  border-radius: 2px;
  margin: 1px 4px;
  display: inline-block;
  color: white;
}
del {
  background: #c0392b;
}
ins {
  background: #27ae60;
  text-decoration: none;
}
